/*Each section is defining the appearance of text and objects with the associated labels. Body defaults to the shape the entire body section of the HTML document.
h1, h3, and p are tags that have default font size and apperances, but I wanted to update them. In the future, working on a project like this I would 
be more careful to use <p> <p1>... At the start of this project I was not aware of this feature, so now I am using h1 and h3 when I should be using other versions of p*/

body{
    background-color:rgb(113, 152, 203) ;
    text-align:center;
    font-size: 16pt;
}

h1{
    margin-top: 40pt;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px 0px 10px 0px;
    outline: black solid 2px;
    
}

h3{
    margin-left: 175px;
    margin-right: 175px;
    padding: 8px 0px 8px 0px;
    
}

p {
    background-color: rgb(255, 215, 0, .65);
    margin-right: 200px;
    margin-left:200px;
    padding: 4px 0px 6px 0px;
    display:inline-block;
}




